<ion-view >
  <ion-content style='background-color: rgb(190, 7, 20);'>

  <div style="text-align:center">
<div style="     background-image: url(img/food/mozo.jpg);
    height: 160px;
    width: 160px;
    border-radius: 100%;
    background-size: cover;
    text-align: center;
    margin-left: calc(50% - 80px); "></div>
    <span style="    margin-top: 20px;
    font-size: 25px;
    display: block;
    color: white;"> Daniel</span>

    </div>

<div style="text-align:center; margin-top:30px;margin-bottom:30px">
    <button class="button button-outline mmbb ">
  La Cuenta
</button>
<br>

    <button class="button button-outline mmbb">
  Necesito al Mozo
</button>
<br>
    <button class="button button-outline mmbb">
 Que opinas?
</button>


</div>
  </ion-content>
</ion-view>
