

    <ion-view  >




        <ion-content style="top: 168px; background-color: rgb(190, 7, 20);"  >


  <div style="text-align:center">
<div style="     background-image: url(img/food/mozo.jpg);
    height: 160px;
    width: 160px;
    border-radius: 100%;
    background-size: cover;
    text-align: center;
    margin-left: calc(50% - 80px); "></div>
    <span style="    margin-top: 20px;
    font-size: 25px;
    display: block;
    color: white;"> Daniel</span>

    </div>




        <div style="    text-align: center;
    color: white;
    font-size: 24px;
    width: 80%;
    margin-left: 10%;
    margin-top: 36px;    line-height: 1.2;">En un momento estare con usted <br> <br> Mientras puede visitar nuestros beneficios <br> <img ui-sref='app.playlists' src="img/tab3.png" style='margin-top: 18px'></div>



      <!--       <a style='    color: #888 !important;' href="geo:38.897096,-77.036545" >Ejemplo de Ubicacion, click</a>  
 -->

        </ion-content>

    </ion-view >