

    <ion-view hide-nav-bar="true" title='as' >

  <script id="nuevoUsuario.html" type="text/ng-template">
  <ion-modal-view class="ion-nifty-modal2">
    <div  class="ion-modal-content-custom2">


      <ion-content class="padding " style="background-color: gray; color:white;" >
  <i ng-click='closeModal()' style='    color: white;
    font-size: 35px;' class=" ion-android-cancel"></i>
      <div class='' style="    margin-left: 3%;margin-right: 3%;   margin-top: 3%;">

       <form name="form.usuario" ng-submit="form.usuario.$valid && registrarUsuario(usuario)">

                    <div  style='      color: white;
   border-bottom: none;    margin-top: 15px;font-size: 17px !important;    padding-bottom: 13px;' >Crear Usuario</div>
                    <div  class="list " >

                        <div  style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Email *</label></div>
                        <input   ng-model='usuario.email' style='    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px white; color:white' placeholder='' type="email" class="inputRegistrar md-input" required="required">







                      <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Contraseña *</label></div>
                        <input ng-model='usuario.pass' placeholder='' style="    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px white; color:white" type="password" class="inputRegistrar md-input" autocapitalize="off" required="required">

            
            <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Repetir contraseña *</label></div>
                        <input  ng-model='usuario.pass2'  style='margin-top: 4px !important;    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px white; color:white' placeholder='' type="password" class="inputRegistrar md-input" autocapitalize="off" required="required">


                      <div style="margin-top:13px"><label style="    color: white;
    font-size: 17px !important;">Nombre *</label></div>
                        <input ng-model='usuario.nombre' placeholder='' style="    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px white; color:white" type="text" class="inputRegistrar md-input" required="required">




                    </div>

                         
            <button ng-disabled="form.usuario.$invalid" style="margin-bottom: 55px; background-color: white!important;color: gray !important; "  class="button button-full " >Registrar</button>

            </form>
        
      </div> 
      <!--   <button class="button button-full button-positive" ng-click="closeModal()">Close Modal</button> -->
      </ion-content>
    </div>
  </ion-modal-view>
</script>

        <ion-content style=" background-color: #940000 " >

        <img style="    width: 200px;
    margin-left: calc(50% - 100px);
    margin-top: 50px;" src="img/icono1.png">

<div style="text-align:center; margin:30px">
<button ng-click="facebookSignIn()" class="loginBtn loginBtn--facebook">
  Login con Facebook
</button>
</div>


      <form name="form.search" ng-submit="form.search.$valid && doLogin(search)">
      <label style=' color:white;   background-color: transparent;
    border-bottom: 1px solid white;
    margin-left: 15px;
    border-left: none;
    border-top: none;
    border-right: none;
    margin-right: 15px;' class="item item-input">
        <i style='padding-right: 15px;color:white' class="icon ion-email placeholder-icon"></i>
        <input style='color:white !important;'  type="email" ng-model="search.email" required="required" placeholder="Email"> 
      </label>

   <label style='  margin-top:10px;color:white;  background-color: transparent;
    border-bottom: 1px solid white;
    margin-left: 15px;
    border-left: none;
    border-top: none;
    border-right: none;
    margin-right: 15px;' class="item item-input">
        <i style='padding-right: 15px;color:white' class="icon ion-locked placeholder-icon"></i>
           <input style='color:white !important;' type="password" ng-model="search.pass" required="required" placeholder="Contraseña">
      </label>


   <br><br>
   
<div style=" text-align:center">
   <!--  <button  style='margin-right: 10px;'  class="button  " ng-disabled="form.search.$invalid" ><b>Entrar</b></button>  

    <button  style='margin-right: 10px;'  class="button  " ui-sref='demo' ><b>Entrar</b></button>  
 -->
<button  style='margin-right: 10px;'  class="button  " ng-click='login(search)' ><b>Entrar</b></button>  

<br><br>  



<!-- <button class="loginBtn loginBtn--google">
  Login with Google
</button> -->


     
</div>



    </form>
<br>
    <div ng-click='openModalRegistro()' style="color:white !important; text-align:center">Aun no tengo cuenta</div>
<br>


        </ion-content>

    </ion-view >