<ion-view >
  <ion-content style='background-color: rgb(190, 7, 20);'>


<div style="    height: 60px;">
	
	<div style="float: left;
    margin-left: 30px;
    font-size: 17px;
    color: white;">Su puntaje <br> actual es</div>
	<div style="    float: right;
    font-size: 24px;
    margin-right: 30px;
    margin-top: 6px;
    color: white;">20 Puntos 	</div>
</div>




<div class="list">

    <a style='
    border: none !important;background-color: transparent;' class="item item-thumbnail-left" href="#">
      <img style='  top: 30px !important;  border-radius: 100%;' src="img/slide1.jpg">
      <h2><div style="    font-size: 25px;
    color: white;float: left;">50%</div><div style="    font-size: 25px;
    color: white;float: right;">10-p</div></h2>
      <p style="color: white;white-space: normal;">Lorem Ipsum Lorem Ipsum Lorem Ipsum  es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
    </a>


    <a style='
    border: none !important;background-color: transparent;' class="item item-thumbnail-left" href="#">
      <img style='  top: 30px !important;  border-radius: 100%;' src="img/slide2.jpg">
      <h2><div style="    font-size: 25px;
    color: white;float: left;">50%</div><div style="    font-size: 25px;
    color: white;float: right;">10-p</div></h2>
      <p style="color: white;white-space: normal;">Lorem Ipsum Lorem Ipsum Lorem Ipsum  es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
    </a>


    <a style='
    border: none !important;background-color: transparent;' class="item item-thumbnail-left" href="#">
      <img style='  top: 30px !important;  border-radius: 100%;' src="img/slide1.jpg">
      <h2><div style="    font-size: 25px;
    color: white;float: left;">50%</div><div style="    font-size: 25px;
    color: white;float: right;">10-p</div></h2>
      <p style="color: white;white-space: normal;">Lorem Ipsum Lorem Ipsum Lorem Ipsum  es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
    </a>



    <a style='
    border: none !important;background-color: transparent;' class="item item-thumbnail-left" href="#">
      <img style='  top: 30px !important;  border-radius: 100%;' src="img/slide2.jpg">
      <h2><div style="    font-size: 25px;
    color: white;float: left;">50%</div><div style="    font-size: 25px;
    color: white;float: right;">10-p</div></h2>
      <p style="color: white;white-space: normal;">Lorem Ipsum Lorem Ipsum Lorem Ipsum  es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
    </a>



</div>


  </ion-content>
</ion-view>
