<ion-view view-title="">
  <ion-content style='    background: lightgray;'>
    <ion-list>
      <ion-item ng-repeat='c in categorias' ng-click='mover(c.tipo,c.idCategoria)' style='padding: 0px !important'>
      <div ng-style="{'background':'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('+c.foto+')'}" style="    padding: 0px;
    width: 100%;
    height: 170px;

     
    background-size: cover;"><span style="    display: block;
    text-align: center;
    padding-top: 70px;
    color: white;">{{c.nombreCategoria}}</span></div>  
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
