

    <ion-view  >




        <ion-content style="top: 168px; background-color: rgb(190, 7, 20);"  >


        <div style="    text-align: center;
    color: white;
    font-size: 25px;"><b>Su valoracion es muy importante</b></div>

 <div style="    margin-top: 30px;" >
      <p style="    text-align: center;
    font-size: 20px;
    color: white;">Que le ha parecido la comida?</p>
      <ionic-ratings ratingsobj='ratingsObject' index='$index'></ionic-ratings>


    </div>
    
 <div style="    margin-top: 30px;" >
      <p style="    text-align: center;
    font-size: 20px;
    color: white;">Su experiencia en nuestro establecimiento</p>
      <ionic-ratings ratingsobj='ratingsObject' index='$index'></ionic-ratings>


    </div>

     <div style="    margin-top: 30px;" >
      <p style="    text-align: center;
    font-size: 20px;
    color: white;">Trato recibido por el personal</p>
      <ionic-ratings ratingsobj='ratingsObject' index='$index'></ionic-ratings>


    </div>


<div style="   margin-top: 30px; text-align: center;
    color: white;
    font-size: 25px;"><b>Escriba un comentario</b>

    <textarea style="    width: 80%;
    margin-left: 10%;
    height: 65px;
    border: solid 2px darkgrey;
    margin-top: 20px;resize:none"></textarea>



        <button ng-click='showAlert()'  style='    margin-top: 30px;
    margin-bottom: 30px;' class="button button-outline mmbb">
Enviar</button>

    </div>




      <!--       <a style='    color: #888 !important;' href="geo:38.897096,-77.036545" >Ejemplo de Ubicacion, click</a>  
 -->

        </ion-content>

    </ion-view >